<%- include('../partials/header') %>

<% if (user) { %>
<h1>Hello <%=user.name%></h1>

<img class="avatar" src="<%= user.avatar %>" alt="profile picture">

<% } %>
<br>
<h4>Your Favorite Taco Places</h4>
<br>

    <% restaurants.forEach( rest => { %>
        <div id="<%= rest.api_id%>" class="list-container">
            <img class="thumbnail" src="<%= rest.img%>" alt="restaurant thumbnail">
            <div>
                <a href="/restaurants/<%= rest.api_id %>/show" class="restaurant-name"><%= rest.name%></a>
                <p><%= rest.address%></p>
            </div>
        </div>
    
    <br>
    <% }) %>
    

</body>

</html> 



<!-- 

_id
:
5d66832f5e5a5e1932e7fa85
api_id
:
"16914069"
name
:
"Tacodeli"
address
:
"1500 Spyglass Drive, Austin 78746"
img
:
"https://b.zmtcdn.com/data/res_imagery/16914068_CHAIN_2964f247f97af20ce..."
reviews
:
Array
createdAt
:
2019-08-28T13:35:43.692+00:00
updatedAt
:
2019-08-28T13:35:43.692+00:00
__v
:
0

 -->