<%- include('../partials/header') %>

<% if (user) { %>
<h1>Hello <%=user.name%></h1>

<img class="avatar" src="<%= user.avatar %>" alt="profile picture">

<% } %>
<br>
<h4>Your Favorite Taco Places</h4>
<br>

    <% restaurants.forEach( rest => { %>
        <div id="<%= rest.api_id%>" class="list-container">
            <img class="thumbnail" src="<%= rest.img%>" alt="restaurant thumbnail">
            <div>
                <a href="/restaurants/<%= rest.api_id %>/show" class="restaurant-name"><%= rest.name%></a>
                <p><%= rest.address%></p>
            </div>
        </div>
    
    <br>
    <% }) %>
    
</body>
</html> 
