<%- include('../partials/header') %>


<h1><%= title %></h1>

<img src="<%= data.thumb %>" alt="">
<p><%=data.location.address%>, Texas</p>
<p><%= data.cuisines %></p>
<br>

<% let isInFavorites = false;  %>

<% if(user) { %>
  <% user.favorites.forEach(elem => { %>
    <% if (elem.api_id == data.id) { %>
      <% isInFavorites = true %>
    <%  } %>
  <% }) %>
<% } %>

<% if(isInFavorites) { %>
  <form action="/users/<%= data.id %>/?_method=DELETE" method="post">
    <button type="submit">Remove From Favorites</button>
  </form>
<% } else { %> 
<form action="/users/<%= data.id %>" method="post">
  <button type="submit">Add To Favorites</button>
</form>
<% } %>

<hr>
<h2>Reviews</h2>
<form method="POST" action="/reviews/<%= data.id %>">
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<% if (restaurant.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <% restaurant.reviews.forEach( (r, idx) =>  { %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td id="<%= idx%>" class="review-content"><%= r.content %></td>
          <td><%= r.rating %></td>
          <td> 
            <% if (user) { %>
          <%if (user.googleId === r.googleId) { %>
              <form class="review-btn" action="/reviews/<%= data.id %>/edit/<%= idx %>" method="GET">
                <button type="submit">EDIT</button>
              </form> 
              <form class="review-btn" action="/reviews/<%= data.id %>/<%= idx %>/?_method=DELETE" method="POST">
                <button class="review-btn" type="submit">DELETE</button>
              </form>  
            <% } %>
          <% } %>
            
          </td>
        </tr>
      <% }); %>
      
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>


</body>

</html>